[2019-07-24 20:14] aeagle opened #2 "Cannot update during an existing state transition warning"
This is reported in the console with the current version:

'Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.'

Need to remove side-effects from render() method and reimplement in another React lifecycle.

[2019-07-24 20:16] aeagle opened #3 "Dynamically shown and hidden spaces position is not recalculated correctly"
Dynamically shown and hidden spaces position is not recalculated correctly in some cases. Need to determine what these cases are for repro. Looks like anchored spacing is duplicated when making a space visible after it has been hidden.

[2019-07-25 12:43] aeagle opened #5 "Percentage sized resizable spaces don't resize correctly when maximum or minimum sizes are specified"

[2019-07-26 13:27] aeagle opened #6 "Resize handle on scrollable resizable spaces does not stay in fixed position when scrolling"

[2019-07-26 13:39] aeagle opened #7 "If a nested space are used within a resizable space you can no longer resize the space"
The nested space cover the resize handle of the parent space preventing correct drag resize operation.

[2019-07-27 22:06] aeagle commented on #7
Fixed with #8

[2019-07-27 22:06] #7 closed

[2019-07-28 14:13] aeagle commented on #5
Fix on #13

[2019-07-28 14:13] #5 closed

[2019-07-28 16:00] aeagle commented on #6
Fixed on #14

[2019-07-28 16:00] #6 closed

[2019-08-02 02:50] jchitel opened #16 "Add repository to package.json for NPM discoverability"
**Describe the bug**
When viewing the NPM page for this package, there is no link provided to this repo, because the `repository` field is not populated in the package.json. Adding this is just a convenience for developers who want a link to the source from NPM.

[2019-08-02 08:25] aeagle commented on #16
Thanks. I've added this now.

[2019-08-02 08:25] #16 closed

[2019-08-02 11:59] zifahm opened #17 "Nextjs Window not defined"
**The bug**
I am getting a window is not defined error while using it on nextjs.

**To Reproduce**
Codesandbox demo form the docs in nextjs with apollo

**Expected behavior**
Run with no error.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Linux Mint
 - Browser Chrome
 - Version 75

[2019-08-02 12:32] zifahm commented on #17
I had to do this to work hmm
[code]
const grayStyle = { backgroundColor: "#eee" };

[2019-08-04 11:11] aeagle commented on #3
Resolved in #18

[2019-08-04 11:11] #3 closed

[2019-08-05 12:50] bartzy opened #19 "Floating spaces"
Thanks for publishing this project!

It could be nice to have an option to configure some spaces as floating above their siblings, so they don't take any space from them.
Could be an easy way to implement something like a left/right drawer menu.

[2019-08-05 13:51] aeagle commented on #17
Presumably there is a reference to window somewhere before componentDidMount(). I haven't had much exposure to next.js so will try to repro the setup.

[2019-08-06 21:40] amcdnl commented on #2
Getting this as well ^^

[code]

[2019-08-08 12:21] waynebrantley opened #20 "Automatically calculated height"
If I have a space, I want its height to be whatever height the content needs it to be.  Then other spaces move with respect to that space.

I can of course do this myself, by getting the size of the rendered component and then setting the size of your space, etc.  However, this would be a great built in feature.

[2019-08-08 12:29] aeagle commented on #2
Whilst not ideal I haven't noticed any side effects apart from the warning message itself in dev.

[2019-08-08 19:17] strass opened #21 "Dynamic size not working correctly"
I wanted to set up something like this, where the left bar can be toggled between 50px and 100px, but this is not working – the other elements don't react:

[code]

is there a "right" way to do this?

https://codesandbox.io/s/react-shapes-0v1g3?fontsize=14

[2019-08-08 20:05] aeagle commented on #21
@strass Hiya. I've just released a version (0.1.11) which should fix this. I wasn't taking into account changes to the size property on the components. Let me know if it works as expected now.

[2019-08-09 16:51] strass commented on #21
It does indeed! Thanks for the speedy response - I figured I was doing something wrong :-P

[2019-08-09 21:08] aeagle commented on #21
Glad that sorts things out for you. I'll close the issue.

[2019-08-09 21:08] #21 closed

[2019-08-14 22:21] aeagle commented on #2
This warning has been resolved with the refactor to React Hooks in #22

[2019-08-19 08:26] aeagle commented on #17
I've pinpointed this down to the bundling and specifically the bundling of SCSS which breaks the components when doing SSR (it's currently using style-loader re this issue [https://github.com/webpack-contrib/style-loader/issues/109](https://github.com/webpack-contrib/style-loader/issues/109)). I am revising the bundling to use rollup instead of webpack and also revising the way the styling is appl

[2019-08-24 18:36] aeagle commented on #17
@zifahm I've released version 0.1.14 now which has some changes into how the library is bundled and more specifically how styling is added to the page which should allow you to use the components without your workaround above. Let me know if this works for you. It does however exhibit the standard late style load behaviour when a page is first displayed due to the styling only being injected on to

[2019-08-24 18:51] aeagle commented on #19
@bartzy I've had a thought about this and the best way to implement this. The most obvious way would be to introduce a floated property on an anchored space.

However a more flexible way I believe would be to introduce a layering concept. Therefore within one space you could introduce layers in which spaces would affect the spaces in the same layer (as they do now) but not spaces in different laye

[2019-08-25 08:06] zifahm commented on #17
@aeagle sure thanks. Ill let you know if i am incurring any problems.

[2019-08-30 17:56] aeagle commented on #17
I'll close this now. I can reopen if you are still having problems.

[2019-08-30 17:56] #17 closed

[2019-10-04 08:13] thekapadia commented on #19
@aeagle - when do you plan to release this? I'm eagerly waiting to use this feature in my project.

[2019-10-06 10:08] aeagle commented on #19
I've just released version 0.1.15 with the layers functionality. Here is an example of usage https://codesandbox.io/s/react-spaces-layers-dsj19?fontsize=14

[2019-10-06 12:08] #19 closed

[2019-10-06 12:10] aeagle opened #26 "Add touch resize functionality"

[2019-10-08 18:29] kernel-sanders opened #27 "Documentation mixes up CenteredVertically with VerticallyCentered"
The correct element is "CenteredVertically", but the documentation references "VerticallyCentered"

[2019-10-08 23:21] aeagle commented on #27
Thanks for pointing this out. It's fixed now.

[2019-10-08 23:21] #27 closed

[2019-10-09 05:48] thekapadia opened #29 "Width is not being set to Size I provided via props for resizable spaces"
@aeagle I'm facing this problem.

Step 1: I initially have,
`<Left resizable={true} size={200}> Left Section </Left>`

Step 2: Now on click of a button, I'm manually toggling the `size` prop between 10 and 200. All works well.

Step 3: Now I resize this space by dragging it, thus, let's say, increasing the size by 20.

Step 4: I repeat Step 2. This is where the problem occurs. The calculated width

[2019-10-09 10:13] aeagle commented on #29
@thekapadia Looks like a problem with the resize delta not being reset in state for a space when the size prop is changed. I'll have a proper look and hopefully have a fix shortly.

[2019-10-16 01:04] Slapbox commented on #2
@aeagle this is possibly still occurring as a new error:

[code]

Only seems to happen with `Space.Fixed`, not with `Space.ViewPort`.

[2019-10-16 03:00] thekapadia commented on #29
Hi @aeagle - just checking in to see if there's any update on this issue.

[2019-10-16 08:22] aeagle commented on #29
@thekapadia - I'm nearly there with a fix: https://github.com/aeagle/react-spaces/commit/bdfe5767cafce07c8ab778ce30000563e0ccb001

However there seems to be some strange behavior when testing with spaces that are stacked. Once I get this resolved I will release. Hopefully not much longer.

[2019-10-16 08:41] aeagle commented on #2
Hi @Slapbox. Thanks for reporting. Could you post the JSX you are using to produce this warning? Does the error happen straight away after first render or after a state or props change? It looks like you are using Redux at the root so any info on any props/state changes that are happening in your case would be appreciated so that I can try to repro.

[2019-10-16 09:42] thekapadia opened #30 "className on a Space percolating to inner div too"
@aeagle I have the following.

`<Left className={"my-class"} />`

The resulting DOM is formed as follows.

[code]

Ideally, `my-class` should be applied to only the root element, not the inner element. This causes a problem when let's say, `"my-class": { border: 1px solid red }` -- this gives me a double border.

[2019-10-16 12:22] thekapadia opened #31 "Reparenting of Space element results into remounting of children elements"
@aeagle This issue is related to the way **Layer** is currently implemented and https://github.com/facebook/react/issues/3965.

Let me try and explain below.

Say, I have the following structure.

[code]

Now for some reason, I have to _reparent_ the `<Space.Top size={100}>` component as shown below.

[code]

So I removed `<Space.Top size={100}>` from the **Layer** and added it to the base structu

[2019-10-16 14:15] aeagle commented on #31
@thekapadia There is actually a zIndex property on the spaces already which you can use with having to use the **Layer** wrapper. However, I'm pretty sure that the behaviour when changing that property (i.e. moving a space between different layers) will not work as expected - I will take a look at that. Give it a go anyway.

[2019-10-16 20:25] Slapbox commented on #2
Hey @aeagle thanks for your reply. It's really weird, I had it working for several fresh starts of my project, but as I kept tweaking the CSS eventually it stopped working. Reverting the CSS didn't work. I eventually swapped out my intended children for simple `span`s, but the issue persisted.

The code is just:

[code]

I've updated the above post with the complete call stack.

We're using React

[2019-10-16 20:59] Slapbox opened #32 "Hooking into start/finish resize events"
**Is your feature request related to a problem? Please describe.**
I know `<Info />` lets you tap into `height`/`width`, but not necessarily event start/finish.

We're moving from [react-split-pane](https://www.npmjs.com/package/react-split-pane) which allowed us to listen for a start/finish of resize. Specifically, if a user resizes past a certain point we want to handle it ourselves, but we want

[2019-10-16 21:22] aeagle commented on #2
@Slapbox **ViewPort** is the way to go if you actually want it to fill the browser. I've actually only used **Fixed** spaces with a pixel height so there could be an issue that manifests itself when a percentage height is used. I'll try to repro.

[2019-10-16 21:27] aeagle commented on #32
@Slapbox The drag start and drag end events would definitely be the way to go and should not be hard to implement. I will see if I can get these into an upcoming release.

[2019-10-16 22:01] Slapbox commented on #2
My situation is a bit weird, where we want to fill all but the top 20px. Adding a css rule to modify `<ViewPort />` `top: 20px` seems to work without any negative effects (so far.)

[2019-10-16 22:02] Slapbox commented on #32
Thanks @aeagle! I'm looking forward to it!

[2019-10-16 22:21] aeagle commented on #2
@Slapbox It's not weird. Actually I had the use case myself. The viewport space actually has top, right, bottom and left properties to allow you to offset from the edge of the viewport. I just forgot to document it! In your case adding top={20} to the viewport space will do what you want without having to resort to using CSS.

[2019-10-16 22:28] aeagle opened #33 "Document left, right, top and bottom properties on ViewPort space"
Information on these properties needs to be added to the documentation.

They allow the ViewPort space to be offset from each side of the browser viewport.

[2019-10-16 22:39] Slapbox commented on #2
That works great!

[2019-10-16 22:43] aeagle opened #34 "Add PropTypes to components for JavaScript consumers of library"
Components are missing validation of properties for javascript only consumers of the library.

Add PropTypes for each component to supplement the Typescript typings.

[2019-10-16 22:50] aeagle commented on #2
Glad that helped. It did highlight that I was not validating properties on the components for JS only consumers (non Typescript). I had typed the height property on the **Fixed** space as number with the intention that only pixel heights could be passed there. I've added issue #34 to add PropTypes for each component to avoid confusion in the future.

[2019-10-16 22:51] #2 closed

[2019-10-16 23:50] Slapbox opened #35 "Document minimumSize property"
I know it's in the examples, but I think you'd agree that it probably deserves to be under "Useful Properties" on the About page.

I don't think there's a `maximumSize` property, but that would be really useful too!

Again, very cool project! Thanks for sharing!

[2019-10-17 00:10] Slapbox opened #36 "Programmatically change size (specifically to implement hiding a space when it's under certain sizes)"
**Is your feature request related to a problem? Please describe.**
I'd like to implement a feature to hide a space if it's reduced to a certain size. Programmatically setting state and passing that state to the component initially works, but can get out of sync with the pass props. I assume this is not surprising or intended to be possible at present?

**Describe the solution you'd like**
It would

[2019-10-17 04:36] thekapadia commented on #30
@aeagle This issue is reproducible in this scenario.
https://codesandbox.io/s/bitter-brook-w7g24?fontsize=14

I get the double border, on the _container_ as well as _inner_.

[2019-10-17 05:15] thekapadia commented on #31
@aeagle Right, the `zIndex` prop helped. Without wrapping into the `Layer` component.

[code]

I will implement this in my project and check if it resolves the *remounting* issue.

Thanks a lot for your help.

[2019-10-17 09:26] thekapadia opened #37 "React has detected a change in the order of Hooks called by SpaceInternal"
@aeagle I get this error on the console when I change the *zIndex* programmatically.

[code]

[2019-10-17 11:36] aeagle commented on #31
@thekapadia I'll close this in view of the specific issue you've raised #37

[2019-10-17 11:36] #31 closed

[2019-10-17 21:19] aeagle commented on #34
Added with #39

[2019-10-17 21:19] #34 closed

[2019-10-17 21:21] aeagle commented on #29
@thekapadia I've published a fix for this in version 0.1.17. Let me know if this resolves your issue.

[2019-10-17 21:22] aeagle commented on #30
@thekapadia I've published a fix for this in version 0.1.17. Let me know that this fixes your issue.

[2019-10-17 21:23] aeagle commented on #33
Added to site documentation.

[2019-10-17 21:23] #33 closed

[2019-10-17 21:25] aeagle commented on #35
@Slapbox - the maximumSize property does exist on resizable spaces. I've added both of them to the documentation - https://www.allaneagle.com/projects/react-spaces

[2019-10-17 21:25] #35 closed

[2019-10-17 21:32] aeagle commented on #36
@Slapbox Could you give me a little more info on the use case for this functionality? Is it because you want certain spaces to disappear when the overall viewport is below a certain size, i.e. a sidebar that should not show when the window is too small?

[2019-10-17 21:51] Slapbox commented on #36
@aeagle that's one way I'd planned to use it, although that particular use case could be achieved prety cleanly with media-queries alone.

Ideally it would be great to have more low-level control over spaces though. In particular, in my example above, the space I'd like to gain some more programmatic control over is `Space.LeftResizable` and yes, as something of a sidebar.

One more involved use i

[2019-10-17 22:07] Slapbox commented on #36
I'm thinking you fixed the potential for getting out of sync here by setting `adjustedSize: 0` ?

https://github.com/aeagle/react-spaces/commit/72e48ccd6404df358b234c9f113ce6eeb9665654#diff-0047d8a24a58c9eefedb8ef09a5b3996R30

[2019-10-17 22:17] Slapbox commented on #36
Specifically to recreate the "out-of-sync" issue:

1. Create a `Resizable` of a particular `size` that's managed via some custom component that wraps `Resizable`
2. Adjust the size with mouse drag
3. Set the `size` to a value identical to the previously passed `size` value

So technically this can be worked around in the present pretty easily by simply not using an identical `size` to your origina

[2019-10-17 22:45] aeagle commented on #36
@Slapbox If I'm getting this correctly, the out-of-sync issue you are mentioned is something along these lines:

[code]
After resizing the left space the state held by the outer component no longer reflects the actual size of the left space.

Internally a resizable space has a size (passed in via props) and a resize delta (the difference applied) after a resize action to determine it's actual size

[2019-10-18 18:30] Slapbox commented on #36
Yes that's pretty much what I'm thinking and looking to do.

I think what we discussed is probably the simplest solution, and I'm really not too familiar with hooks or the underlying code of `React-Spaces`, so I don't know if it's helpful at all, but I figured I should mention the existence of `getSnapshotBeforeUpdate`.

It seems even experienced React developers forget `getSnapshotBeforeUpdate` e

[2019-10-18 18:34] Slapbox commented on #29
@aeagle I'm realizing my issue #36 is an exact duplicate of this one.

I tried `0.1.17` yesterday thinking also that one of your commits looked likely to resolve the issue before realizing what was going on and updating my issue.

[2019-10-18 22:45] #30 closed

[2019-10-20 22:04] aeagle commented on #32
@Slapbox I've added resize event callback properties to resizable spaces in version 0.1.18:

onResizeStart: () => {}
onResizeEnd: (newSize) => {}

Hopefully this should also allow you to attempt the solution at https://github.com/aeagle/react-spaces/issues/36#issuecomment-543392599 on issue #36.

[2019-10-20 22:09] aeagle commented on #37
@thekapadia I believe I have resolved the issue in version 0.1.18. I was using a hook within a conditional expression.

[2019-10-21 21:27] Slapbox commented on #32
That's awesome! Thank you! I'll give it a shot soon.

[2019-10-21 21:32] #29 closed

[2019-10-21 21:58] Slapbox commented on #36
I'm going to close this because the API now provides the tools for someone to implement this on their own. Of course, if you feel the conditional hiding is within the scope of the project, by all means re-open.

Thanks again for your great work!

[2019-10-22 04:42] thekapadia commented on #37
@aeagle Yes, this error does not occur in 0.1.18. Thanks!

[2019-10-22 04:42] #37 closed

[2019-10-22 04:57] thekapadia opened #42 "Changing zIndex dynamically has no effect"
@aeagle When I **change the `zIndex` dynamically, it has no effect** while trying to achieve layering without wrapping into the `Layer` component.

Demo
- https://codesandbox.io/s/competent-tesla-myp6e
- https://codesandbox.io/s/elegant-currying-g0ijr

[2019-10-22 19:48] #32 closed

[2019-10-22 20:12] Slapbox commented on #36
@aeagle it seems that one bug remains - specifically that after setting a size, lets say `size={100}`, if you then resize with the mouse, passing the `size={100}` will have no effect. Passing instead `size={100 + rand}` will work though. I'm not exactly sure _how_ this is the case since you're passing `props.size` directly to the `return`ed `div` here https://github.com/aeagle/react-spaces/blob/ma

[2019-10-22 20:48] Slapbox opened #43 "Support passing mouse events from Space to its internal component (spaces-space-inner)"
**Is your feature request related to a problem? Please describe.**
I'd like to track the X position of a user's mouse relative to `<ViewPort />, but that requires wrapping it like:

[code]

**Describe the solution you'd like**
Pass React event handlers to the internal component, the one with the className `spaces-space-inner`

**Describe alternatives you've considered**
Wrapping `<ViewPort />` wit

[2019-10-22 21:35] Slapbox commented on #36
@aeagle this isn't the best demo, but hopefully it demonstrates the last remaining issue I'm seeing well enough. https://recordit.co/2wczCiDu3v

**Explanation:**

The first time the space is collapsed down, I re-open it by simply clicking the resizer, programmatically setting the width to `250px`

The second time I click and drag as if to resize the space. In this case the size I set for the space

[2019-10-22 22:18] aeagle commented on #36
@Slapbox thanks for the screen recording and the information.

To give an insight on how a resizable space is sized, it is always the result of size you passed in +- the difference of pixels a mouse resize operation has made to the initial size. This is to allow percentage sized spaces to resized correctly (effectively resulting with a `width: calc(25% + 200px)` in the markup or `width: calc({prop

[2019-10-22 22:24] aeagle commented on #42
@thekapadia Thanks for the examples. I'll look into this shortly. I can see the space has registered a move into a different layer, however, the spaces already in the target area have not been updated to take into account the new space.

[2019-10-22 22:30] aeagle commented on #43
@Slapbox  I can certainly expose more of the React events on the inner div to the space props.

I do intend on cleaning up the markup later on with a few ideas as I would like to reduce the "`div` hell" produced. The inner and outer divs are only required if a space is resizable and scrollable to allow the resize handle to be placed correctly. Any other space variations could do with a single div.

[2019-10-22 22:33] Slapbox commented on #36
Thanks for the explanation @aeagle!

Perhaps the easiest way to handle it would be to provide a callback a user can call to tell the space that the next `onResizeEnd` should be ignored because it was already handled by user-provided logic? That _seems_ a little hacky, but at the same time seems probably the simplest way to implement it, and quite flexible. You'll know better than me of course.

My

[2019-10-23 08:55] thekapadia commented on #42
@aeagle And somewhere even the `calc()` is going wrong. Spaces are being misplaced.

Here's what I'm trying to achieve in my project using React Spaces.
https://codesandbox.io/s/icy-dust-ouf6l

I'm trying to get **_pinnable_** panels, which I can _Open_ or _Close_ (no change in `zIndex`, only `size` changes), and _Pin_ or _Unpin_ (change in `zIndex` and `size`, both).

[2019-10-23 11:39] aeagle commented on #42
@thekapadia Thanks for the sandbox. I'll have a play later to try to resolve.

[2019-10-23 21:21] aeagle commented on #42
@thekapadia I've released version `0.1.19` which should resolve this.

Here is an example based on your original sandbox - https://codesandbox.io/s/patient-water-fpe2c?fontsize=14

[2019-10-23 23:10] Slapbox commented on #43
That sounds awesome!  It's not a very big deal at all, but it's definitely a nice-to-have.

[2019-10-24 08:59] thekapadia commented on #42
Thanks @aeagle for the fix and quick turnaround. Really appreciate.

One more thing, I just noticed another issue.

Check https://codesandbox.io/s/elated-bose-obcq3 (forked from your example above).

I added `resizable={true}` to the first **Left** space.

Now do the following.
1. Click _Open_ in the left space.
3. Stretch/expand the left space by drag-and-resize.
2. Click _Pin_ in the left space.

[2019-10-25 07:06] thekapadia opened #45 "Maximum update depth exceeded"
@aeagle When I run the code at https://codesandbox.io/s/misty-fast-r4qeo - it works fine in this online sandbox.

But when I run the same code on my local machine in an app set up via `create-react-app`, it throws the below error (and the browser freezes).

[code]

[2019-10-25 08:52] thekapadia commented on #45
@aeagle I found out that this specifically happens when the `size` is dynamically set to `0`.

Try this https://codesandbox.io/s/loving-wildflower-f9wjx - run this code in a React app on your local machine.

[2019-10-29 03:04] thekapadia commented on #45
Hi @aeagle - just passing by to see if there's any update on this issue. Thanks!

[2019-10-29 03:05] thekapadia commented on #42
Hi @aeagle - just passing by to see if there's any update on this `resizable` issue. Thanks!

[2019-10-30 08:54] aeagle commented on #42
Hi @thekapadia. I'm in the middle of working on a new release so I'm hoping to get this fixed and a few other issues in that. Hopefully not too long now.

[2019-11-05 22:46] Slapbox commented on #45
@aeagle this hasn't caused me any trouble, but I did just hit this once just now. I'm not sure what, if anything, might have been different when this occurred.

[code]

[2019-11-06 00:56] brambow opened #46 "maximumSize not honored if size is the same number"
**Describe the bug**
Great library! In a Resizable component (i.e. <LeftResizable>) if the size and maximumSize numbers are the same, maximumSize does not appear to be honored and I can resize beyond the max; however, if I set size to be one below the max then behavior is as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a resizable component that uses the same value for si

[2019-11-11 03:28] thekapadia commented on #42
Hi @aeagle - just curious to know a tentative release date.

[2019-11-12 08:16] aeagle commented on #42
Hi @thekapadia. I'm struggling with some state issues at the moment. Rest assured once I sort I'll release. I'm planning to look at this and the other issues this weekend so hopefully then. Thanks for the patience.

[2019-11-15 20:52] Slapbox opened #47 "Clicking to begin a resize and not actually dragging causes onResizeEnd not to fire"
**Describe the bug**
Clicking a divider twice without any drag

**To Reproduce**
Steps to reproduce the behavior:
1. Click a space divider without dragging, `onResizeStart` fires, followed immediately by `onResizeEnd`
2. Click the same space divider again, without dragging. (This step may or may not be necessary - sometimes this doesn't seem to occur on the first click)
3. Observe that `onResizeSt

[2019-11-17 20:42] aeagle commented on #46
Hi @brambow.

Thanks for the feedback. I'm preparing a new release which fixes this problem. You can check the behaviour here before release https://codesandbox.io/s/peaceful-rain-19w1b or try the alpha package `v0.1.20-alpha.3`.

[2019-11-17 20:46] aeagle commented on #42
Hi @thekapadia. I've produced an alpha package which has a major rework of the state kept within the components which should resolve a lot of the out-of-sync problems experienced. Check this sandbox out in regards to this issue - https://codesandbox.io/s/agitated-framework-n91kl. The package alpha version is `v0.1.20-alpha.3`.

Once I get feedback on this and some of the other issues I will releas

[2019-11-17 20:50] aeagle commented on #36
Hi @Slapbox. Apologies for the delay on this. I have been reworking the state in this library to find a better way of avoiding out-of-sync issues you and others have been experiencing. I have creating an alpha package `v0.1.20-alpha.3` with these modifications. I wonder if you could try this out and see if you experience the same problems as before.

[2019-11-17 20:51] aeagle commented on #45
@thekapadia @Slapbox As noted in in other issues I've been preparing an alpha release `v0.1.20-alpha.3` with major modifications which I am hoping alleviate a lot of these issues. Feedback much welcome to see if this alleviates this issue.

[2019-11-18 21:31] Slapbox commented on #36
Hey @aeagle - no need for apologies, you rock. Thanks for the update!

Unfortunately `alpha.3` didn't resolve [this issue from this thread](https://github.com/aeagle/react-spaces/issues/36#issuecomment-545166275) - since I know there's a few distinct issues in this thread, nor did it resolve #47. Let me know any time you could use some testing and I'll be happy to oblige.

[2019-11-19 06:08] thekapadia commented on #42
@aeagle I'm getting these errors when I set `resizable={true}`. I'm using `0.1.20-alpha.3`.

[code]

and

`react-dom.development.js:15409 Uncaught Invariant Violation: Rendered more hooks than during the previous render.`

[2019-11-19 06:12] thekapadia commented on #45
@aeagle The issue of setting `size={0}` is not occurring in `v0.1.20-alpha.3`. Looks like it's fixed.

Thank you @aeagle for all your hard work and the swift releases. Really appreciate.

[2019-11-19 08:42] aeagle commented on #42
@thekapadia `0.1.20-alpha.4` should fix this.

[2019-11-19 08:44] aeagle commented on #45
@thekapadia Thanks for the feedback. I'll close once I get the full release out.

[2019-11-20 00:45] Slapbox commented on #47
Confirmed fixed!

[2019-11-20 00:45] #47 closed

[2019-11-20 00:47] Slapbox commented on #36
Absolutely. I'll ping you when I've got something.

[2019-11-20 09:33] thekapadia commented on #42
Hi @aeagle - I tested with `0.1.20-alpha.4`, the above issues got resolved.

But I noticed one small but important anomaly.

In the example, https://codesandbox.io/s/frosty-sky-5b5bm - when I open/close the **Left Pinnable** pane - the `constructor()` of `<Sample label="Left Pinnable" />` is called everytime (component is recreated) when `resizable={true}`. This is causing my component `Sample` to

[2019-11-20 15:14] aeagle commented on #42
Hey @thekapadia. Glad the version fixed this issue. I think it's worth now creating a separate issue for your re-render problem.

[2019-11-20 22:31] Slapbox opened #48 "Each child in a list should have a unique "key" prop."
**Describe the bug**

[code]

**To Reproduce**
Not sure yet, but new issue only present in `0.20.x`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: `Windows 7`
 - Browser: `Electron`
 - Version: `6.0.12`

**Additional

[2019-11-20 22:52] Slapbox commented on #36
As I was creating this repro it occurred to me that this is kind of in a gray area between _bug_ and _unanticipated use case_.

https://codesandbox.io/s/lucid-bose-ws6rq

**What would I expect to happen instead**

Upon resizing to the default size in `onResizeStart`, the space becomes aware of its new starting width and increases the space's size **_to the size_** the user dragged to, rather than

[2019-11-20 23:11] aeagle opened #49 "Extra re-renders of children within a resizable space"
In the example, https://codesandbox.io/s/frosty-sky-5b5bm - when I open/close the Left Pinnable pane - the constructor() of <Sample label="Left Pinnable" /> is called everytime (component is recreated) when resizable={true}. This is causing my component Sample to lose its state.

When you set resizable={false}, constructor() of <Sample label="Left Pinnable" /> is not called.

[2019-11-20 23:11] #42 closed

[2019-11-20 23:13] #26 closed

[2019-11-21 22:16] Slapbox commented on #36
It looks like there's another related issue. If I previously set the space size in pixels and then pass a value of `100%` I get `width: calc(100% + 296px);` instead of `width: calc(100%);` or just `width: 100%;`

[2019-11-21 22:29] Slapbox commented on #49
It seems likely to me that extra re-renders are related to #48, though I'm not sure why the inner component would lose state.

[2019-11-22 08:30] thekapadia commented on #49
@aeagle It's losing the state because the inner component is being destroyed and recreated, not just re-rendered.

[2019-11-22 21:00] Slapbox commented on #49
@thekapadia is right, I overlooked the part about constructor re-running. That said, I don't understand why I'm not seeing this issue with the same version, doing something at least vaguely similar.

[2019-11-23 10:15] aeagle commented on #49
@thekapadia I'm trying to read through your sandbox. It's not very clear what you are trying to achieve looking at the code. However, I've created a sandbox with the same setup and same version (directly using spaces) - https://codesandbox.io/s/kind-dust-0o717. Here I've added a `<TestInner />` component within the `<LeftResizable />` space with logging in the constructor and it only runs once no

[2019-11-23 10:16] aeagle commented on #49
@Slapbox Just to clarify. #48 is an issue which would not cause this. A fix for that is in the pipeline but should at the moment only manifest itself as a dev warning.

[2019-11-23 12:37] aeagle commented on #46
Fix released on `0.1.20` now.

[2019-11-23 12:37] #46 closed

[2019-11-23 12:38] aeagle commented on #45
Fix released on `0.1.20` now.

[2019-11-23 12:38] #45 closed

[2019-11-23 12:38] aeagle commented on #48
Fix released on `0.1.20`.

[2019-11-23 12:38] #48 closed

[2019-11-23 12:47] aeagle commented on #49
@thekapadia Actually looking closer at your code, it seems you are generating a new array 'newChildren' which do not have a key set on each of those children (therefore the reason you have the key warning in the console). That is most likely why React is destroying and recreating the children because it has no way to tell which children are existing children by way of the key. I'm now certain this

[2019-11-23 13:05] aeagle commented on #43
@Slapbox I've added the onMouseMove, onTouchStart, onTouchMove and onTouchEnd events to the spaces now.

[2019-11-23 13:05] #43 closed

[2019-11-23 22:47] Slapbox commented on #36
Another related issue (not sure how to recreate) but I've had a few times where my `<LeftResizable />` and my `<Fill />` elements have both gotten identical values.

[code]

The best theory I have right now is that the `LeftResizable` was `296px` wide, and then when I tried to set it to the full with of the window (`427px`) it somehow ends up adding the existing `size` and the new one, rather than

[2019-11-23 23:09] Slapbox commented on #43
Very cool! I'll give them a shot when I get things working a bit better; not ready to throw more variables into my debugging yet.

[2019-11-24 01:27] Slapbox commented on #36
I think I understand I understand the issue better now (or I could be totally wrong.) I'm not versed in Typescript or I'd take a crack at implementation. I don't know if this would fix minor related issues like being able to drag a space past its maximum size this way, or if my idea is incomplete.

https://github.com/aeagle/react-spaces/blob/master/react-spaces/src/Space.tsx#L176-L183

This covers

[2019-11-24 10:13] aeagle commented on #36
@Slapbox - Thanks for the extra explanation. From what I gather the "Unfortunately a user can continue the drag operation after the click" stands out to me. It occurs to me that a collapsed space should not be resizable at all and you are trying to find the behaviour you need by shortcutting the resize.

If you take a look at this modified code sandbox, I've slightly re-implemented to give the beh

[2019-11-25 11:55] thekapadia commented on #49
Hi @aeagle - we're trying to achieve reusable pinnable panes. When a pane from a higher z-index overlaps a pane from lower z-index, we add a dummy/empty pane in the lower z-index to push sibling pane out. This way a pane from higher z-index does not overlap any pane from a lower z-index. We do not use the Spaces components directly but we create them on-the-fly.

I'm unsure of what's causing the r

[2019-11-25 13:07] Kilian opened #52 "Switching elements does not update positions correctly"
**Describe the bug**
I have a site where I have a sidebar that people can toggle between being shown on the right and on the bottom. When I toggle between these by changing the element from Space.RightResizable to Space.BottomResizable, the new situation is calculated as if the old sidebar was still in place.

**To Reproduce**
See https://codesandbox.io/s/festive-mcclintock-pujdo Press "Toggle sid

[2019-11-25 20:27] Slapbox commented on #36
@aeagle that's very slick and works great! Much, _much_ simpler than the route I was headed down.

The only issue for our use case is that we rely on the handle as the element the user clicks to restore the space, but with `resizable={false}`, the handle is (sensibly) removed from the DOM. What do you think of an additional option/props to allow for showing the resize handle, even when the space i

[2019-11-25 21:27] aeagle commented on #36
@Slapbox I think in that case you might consider putting your own element in the collapsed space which is clickable. Another Space.Fill perhaps or an element absolutely positioned with left, top, right, bottom at 0. What do you think?

[2019-11-25 21:49] Slapbox commented on #36
I considered it and it wouldn't be the end of world, but it wouldn't be trivial to get it working seamlessly either. A number of things would need to be reconsidered/redesigned on our end. We're do something custom styling of hidden spaces, and specifically applying `opacity: 0` to the content of a hidden space for a smooth transition, while leaving the `resizeHandle`. There's some additional conc

[2019-11-28 09:11] aeagle commented on #36
@Slapbox I'm not sure about adding markup for the resize handle where the space is not resizable and hiding it. I'm eager to keep the markup to a minimum and only where necessary hence the recent changes to move the styling to the head tag and remove the need for the outer and inner tags.

I have an alternative option for you which might suit. In the same version you tested `0.1.22-alpha.1` you co

[2019-11-28 22:02] Slapbox commented on #36
I understand your hesitancy.

Your suggestion of returning `false` works about 95% as I'd envisioned, which to me makes it a beautifully simple solution.

[2019-11-28 22:02] #36 closed

[2019-11-30 13:37] aeagle commented on #36
@Slapbox Glad that helped! I've released these changes on `0.1.22` now.

[2019-12-05 10:45] thekapadia opened #54 "Custom-built ResizeHandle component"
Hi @aeagle - we have a requirement where we need a custom-built **ResizeHandle** component. So could we have a way in which we can pass a custom component via props?

Something like this probably.
`<Space.Left resizable={true} resizeHandleComponent={} size="20%" />`

[2020-01-07 13:24] julien-delenclos opened #56 "Css height need ';'"
**Describe the bug**
Missing ';' in [HeadStyles.tsx](https://github.com/aeagle/react-spaces/blob/master/react-spaces/src/HeadStyles.tsx#L40)
Change ```css.push(`height: ${style.height}`);```
To ```css.push(`height: ${style.height};`);```

**To Reproduce**
Steps to reproduce the behavior:
1 - Create Layer with z-index,
2 - Add Top element with % size
3 - Style is
[code]

**Expected behavior**
[code

[2020-01-12 10:07] aeagle commented on #49
Hi @thekapadia.

I've been trying out different scenarios to try to solve this problem and I think I have a workaround for you which works with the current version.

Instead of having a scrollable space which you switch between resizable and non-resizable could you try splitting into 2 spaces, 1 that is switched between resizable and non-resizable and another inner `Space.Fill` that is solely scro

[2020-01-12 10:13] aeagle commented on #56
hi @julien-delenclos. I've release version `0.1.23` which fixes this.

[2020-01-12 10:50] aeagle commented on #52
Hi @Kilian

I am still trying to fix this bug. For some reason the space is taking into account itself in it's old position when recalculating it's new position.

However, in your case you should use a `Space.Custom` which allows you to modify the anchor via a property like so:

https://codesandbox.io/s/hungry-sutherland-psvkd

This will also ensure that the contents of your space are not unnecess

[2020-01-13 18:01] #56 closed

[2020-01-14 09:59] Kilian commented on #52
Switching to `Space.Custom` works, thanks :) There's some additional complexity there when you also want the space to be resizable in both directions and store the width/height separately but I haven't managed to get that into a clear example yet.

[2020-01-15 06:14] thekapadia commented on #49
Sure @aeagle. Let me give this a try and get back. Thanks!

[2020-01-25 19:22] Slapbox opened #57 "Changelog plans?"
Hey @aeagle, I was reviewing packages to update and I was excited to see `react-spaces` on the list of updated packages. I was wondering what's changed though? I took a glance at the commits, but nothing's as good as a changelog. I know the library is still in version `0.x`, so no changelog is entirely understandable - but is there any chance we could get a `changelog.md` or release notes on the r

[2020-01-25 20:31] aeagle commented on #57
Hi @Slapbox. Currently I'm keeping the change log on my site https://www.allaneagle.com/projects/react-spaces/history (although missing the last version). Though I agree, I need to probably keep one in the repository too.

[2020-01-25 21:53] Slapbox commented on #57
Awesome! Thanks for the info.

In the interim, maybe the easiest thing to do is to make a `changelog.md` and just link to https://www.allaneagle.com/projects/react-spaces/history from there

[2020-01-26 01:57] aeagle commented on #57
Thanks for the suggestion @Slapbox. I've added the change log with the link now.

[2020-01-26 01:57] #57 closed

[2020-02-03 09:56] guidogast opened #58 "Add onResizeComplete prop to resizable components"
**Is your feature request related to a problem? Please describe.**
The only way to get the heights and widths of the resizable components is to nest an Info element inside of it. This also triggers for every small change and can cause performance issues when you want to save the sizes to a server for example.

**Describe the solution you'd like**
I'd like to see an onResizeComplete functions as a

[2020-02-03 17:58] aeagle commented on #49
Hi @thekapadia. Any luck with this?

[2020-02-03 19:29] aeagle commented on #58
Hi @guidogast. There is actually a way to hook into the start/end resize events as described here https://github.com/aeagle/react-spaces/issues/32#issuecomment-544297570. Let me know if that solves your problem.

[2020-02-03 19:37] aeagle opened #59 "Create full documentation/playground for components using Storybook Docs"

[2020-02-03 19:42] aeagle opened #60 "Create Positioned space"
A space which can be positioned absolutely within it's parent. Provide modal/window like functionality.

- Allow z-index to be specified
- Allow optional dragging of any side to adjust width/height
- Allow optional dragging to re-position it given a drag handle

[2020-02-03 19:55] aeagle opened #61 "Allow size breakpoints to be specified on spaces (i.e. to apply custom CSS classes)"
Allow actions to be carried out when spaces when resized and the size hits various breakpoints.

- Apply classes based on configuration?

or

- Provide events when breakpoints reached and allow consumer to provide functionality themselves?

or

- Both

[2020-02-03 19:59] aeagle opened #62 "Allow debounce period on resizable spaces to be configured"
Current resizable spaces apply a debounce on resize updates of 5ms.

- Allow this to be configurable or switched off

[2020-02-04 07:36] guidogast commented on #58
Thanks! I overlooked the issue, sorry about that. However I would recommend updating the documentation on the website by adding all possible props. That will make things a lot more clear in the future :)

[2020-02-04 14:41] aeagle commented on #58
No problem, glad that helped. I do plan to setup a storybook with full documentation shortly. See #59.

[2020-02-04 14:41] #58 closed

[2020-02-09 10:38] aeagle commented on #49
@thekapadia I'll close this for now. Feel free to re-open if you are still having problems.

[2020-02-09 10:38] #49 closed

[2020-02-12 03:59] thekapadia commented on #49
Hi @aeagle - Sorry for not replying earlier. We did a small POC by wrapping with `Space.Custom`. But we are yet to release this across our app and get it thoroughly tested. I will let you know if we face any issue going forward. Thanks for your help.

[2020-02-26 23:13] aeagle opened #63 "Create Attached component"
A space which can be anchored relative to another space.

- Specify whether to be attached to left, right, above or below another space
- Alignment options (i.e. left, centre, right, top, middle, bottom or specific offset unit)
- Allow z-index to be specified

[2020-03-18 22:36] thoomasbro opened #64 "Possible side effect in other components (warning with React 16.13.0)"
**Describe the bug**
When using react 16.13.0 a new warning appears:
"Cannot update a component from inside the function body of a different component"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-spaces-y0q3n
2. see warnings in console

**Expected behavior**
no warnings

[2020-03-30 09:16] aeagle commented on #59
Initial implementation - https://www.allaneagle.com/react-spaces/docs

[2020-03-30 09:19] guidogast commented on #59
Appreciate the work man!

[2020-04-08 15:52] pLavrenov commented on #64
any ideas?

[2020-04-11 17:20] #59 closed

[2020-04-19 13:30] aeagle opened #69 "Move space state to global state"
Currently state for spaces contained in a parent space is kept at the parent space however keeping this in sync with standard React state methods is proving to be difficult. Addition and removal of spaces as well as changing their properties has to propagate a state change to Fill spaces in the same parent/layer.

The current implementation relies on a side effect in the render method of a space t

[2020-04-20 19:46] Kyliathy commented on #69
+1 for this one :). Just ran into it and spent about 30 minutes trying to fix my code :D, especially as I couldn't see the warning on your example website. But after a simple code from your website also failed I finally checked "Issues" :D.

I also agree Redux would be overkill. Not an expert in React, but maybe this is a situation when React's context is good enough? Or if not, Flux?

[2020-04-24 20:07] Slapbox opened #70 "0.1.25 breaks existing implementation"
**Describe the bug**
I won't have time to document this well and we're opting to stay on `0.1.25`, but I wanted to report that code we have that collapses the space when it's dragged to a size smaller than the minimum defined no longer works properly.

Is there any changelog for versions beyond `0.1.23`? Maybe that will make it obvious where things are going wrong.

**Desktop (please complete the

[2020-04-25 18:32] aeagle commented on #70
Hi @Slapbox - sorry refer to https://www.allaneagle.com/react-spaces/docs/?path=/docs/react-spaces-change-history--page

There is a refactor in `0.1.25` which involves the resizing which was intended as preparation for future enhancements but it sounds like this has caused you issues.

I'm moving things around at the moment and in the middle of a rewrite of spaces (see #69 for details). It might b

[2020-04-25 19:13] Slapbox commented on #70
I'm very happy on `0.1.24` and ready to stay put for a while. Just wanted to give you a heads up that something had functionally changed.

Thanks for the update and your great work @aeagle.

[2020-04-28 14:46] aeagle opened #71 "Add JEST tests"
Basic coverage to cover each component to be able to catch breaking changes to core behaviour.

- Correct styling applied
- Correct resize behaviour observed

[2020-05-27 17:24] BenJenkinson opened #72 "Resizable spaces on opposite sides don't behave like they're on the same layer"
**Description:**
I am able to drag the edge of a `<Space.LeftResizable>` past the edge of a `<Space.RightResizable>` meaning that the content of the left space is underneath the right space (or _vice versa_)

**Example:**
An example can be seen on the first "Resizable Spaces" example , here: https://www.allaneagle.com/projects/react-spaces/examples#resizable

**To reproduce:**
1. Drag the edge of

[2020-06-04 08:49] Kilian commented on #70
Can confirm that for custom spaces, `minimumSize` seems to no longer be applied either

[2020-07-15 03:02] saisandeepvaddi opened #73 "`onResizeStart` and `onResizeEnd` not running in `Space.LeftResizable`."
**Describe the bug**
A clear and concise description of what the bug is.
`onResizeStart` and `onResizeEnd` events are not running.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [codesandbox](https://codesandbox.io/s/react-spaces-resize-issue-p7h0i?file=/src/App.js)
2. Open console
3. Resize the blue left sider.
4. It doesn't print anything.

**Expected behavior**
When we resize, it s

[2020-09-14 11:09] simon-jlc commented on #73
For your information, I have the same issue on BottomResizable.

[2020-09-22 00:02] saisandeepvaddi commented on #73
I made a patch at https://github.com/saisandeepvaddi/react-spaces for this issue and it seemed to work.

Could you please see if that's enough and willing to accept a PR based on that?

I updated the first component of `LeftResizable` storybook to see a console.log on resizeEnd.

![2MnuuWZjZ5](https://user-images.githubusercontent.com/13838175/93832937-33c96100-fc45-11ea-8350-f7ef0215fa76.gif)

[2020-09-23 07:57] aeagle commented on #73
Hi @saisandeepvaddi

I had a brief look at your commits and looks like it's along the right lines. I assume in a refactor I missed passing various callbacks in the resize code. Could you get a PR setup with just the fix and I'll give it a look?

[2020-09-23 08:03] saisandeepvaddi commented on #73
Hi @aeagle

I've created a PR https://github.com/aeagle/react-spaces/pull/74.

Please let me know if I can need to make any more changes.

[2020-09-23 08:26] aeagle commented on #70
Could be related to issue #73 with fix currently being reviewed on PR #74. Need to check after PR #74 applied.

[2020-09-24 20:09] #73 closed

[2020-09-24 20:36] aeagle commented on #73
@saisandeepvaddi Thanks for the PR. Merged and version `v0.1.26` released with the fix.

[2020-09-24 20:38] aeagle commented on #70
@Slapbox There is a small possibility that your issue with `v0.1.25` has been fixed with a fix applied in #74 which has been release in `v0.1.26`.

[2020-09-24 20:40] saisandeepvaddi commented on #73
Yay! 🎉

Thank you :)

[2020-09-29 08:35] ttungbmt opened #75 "Cannot update a component ... while rendering a different component in React 16.13.1 - 2.0 beta issue"
**Describe the bug**
In React 16.13.1, I have an error when rendering component

Warning: Cannot update a component (`Fixed`) while rendering a different component (`Unknown`). To locate the bad setState() call inside `Unknown`, follow the stack trace as described in https://fb.me/setstate-in-render

[2020-09-29 15:15] aeagle commented on #75
This is most likely a duplicate of #64. The warning message from React could have changed slightly between versions 16.13.0 and 16.13.1. I am currently working on a new version which is quite a major refactor which removes this problem. You could try out version v0.2.0-beta.2 to see if this resolves the issue. Note this is a beta version and still in progress.

[2020-10-21 00:11] wa1618i opened #76 "Cannot run example"
Closed

[2020-10-21 01:44] #76 closed

[2020-11-11 19:53] luskin commented on #75
any update on this?

[2020-11-12 08:46] aeagle commented on #75
Hi @luskin have you tried the beta version mentioned in the comment above?

[2020-11-13 01:57] luskin opened #77 "LeftResizable adding erroneous left offset (when using React.StrictMode) - 2.0 beta issue"
**Describe the bug**
When using LeftResizable it adds an immense amount of left padding for no reason. We can't seem to resolve the issue

[code]

Result:
<img width="1279" alt="Screen Shot 2020-11-12 at 5 37 49 PM" src="https://user-images.githubusercontent.com/5702322/99019120-853cf080-2510-11eb-85aa-cf4c3e537a63.png">
<img width="307" alt="Screen Shot 2020-11-12 at 5 57 36 PM" src="https://user

[2020-11-13 11:40] aeagle commented on #77
Hi @luskin,

I can't replicate this problem. I created a sandbox using your code which behaves correctly as far as I can see - https://codesandbox.io/s/restless-forest-3qht2?file=/src/App.tsx

Could you confirm the version of react-spaces you are using and browser?

[2020-11-14 23:44] ttungbmt commented on #77
I have same problem with padding left: https://codesandbox.io/s/hungry-shockley-iulzj?file=/src/App.js

[2020-11-15 12:56] aeagle commented on #77
@ttungbmt

The sandbox you linked to doesn't work because there is no dependency added to react-spaces. I therefore can't tell what version you are using or replicate your problem.

[2020-11-16 01:16] ttungbmt commented on #77
I used react, react-dom v17, react-spaces v0.2.0-beta.2 (Window 10): https://codesandbox.io/s/delicate-snowflake-fcipv. I can't find bugs to fix this. Thanks

[2020-11-16 09:11] aeagle commented on #77
@ttungbmt @luskin Thanks for the information. and as a workaround for now can you give the `<LeftResizable />` an id? It appears to be on refreshes the space is given a different auto generated id each time when it should have the same id. I'll need to look into why that is happening.

[2020-11-16 19:41] luskin commented on #77
Same, v 0.2.0-beta.2 here

[2020-11-26 23:25] Slapbox commented on #70
@aeagle thanks for the follow-up! I actually scrapped my existing code and have been rewriting it from scratch (still using React-Spaces, it's so great!)

My guess though is that #74 would have fixed my issue though, so I'll close this.

Thanks again for all your help and awesome work!

[2020-11-26 23:25] #70 closed

[2020-11-26 23:36] Slapbox opened #78 "Updating maximumSize without manually beginning a resize operation is ignored"
**Describe the bug**
Using a `Custom` space with `resize={true}` that we pass our own `anchorSize` into - if we shrink the window down and the `maximumSize` that we pass to the space is reduced accordingly, the space will not shrink to that size until a resize operation begins.

**Expected behavior**
`maximumSize` should always take precedence over `anchorSize`

**Desktop (please complete the foll

[2020-11-26 23:41] Slapbox commented on #78
It's easy enough to work around with `componentDidUpdate` to manually adjust our space's `anchorSize` to be the maximum if it's greater than that amount, but I figured I'd share.

[2020-11-26 23:53] Slapbox commented on #78
There's some chance this is not a bug in React-Spaces and that I've screwed something up. Will report back.

[2020-12-01 00:47] Slapbox opened #79 "handleSize seems to be ignored on Custom spaces, always 5px"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
<Spaces.Custom handleSize={1} >{children}</Spaces.Custom>

**Expected behavior**
Resizer should have a width of 1px when passing `handleSize={1}`.

**Desktop (please complete the following information):**
 - OS: Windows 7
 - Browser Electron
 - Version 8.5.x

[2020-12-05 00:51] fdelbos commented on #75
Hi @aeagle, i just tried with v0.2.0-beta.2 and still go the same problem.

[2020-12-05 21:16] aeagle commented on #77
Upon more investigation the issue only appears when using ```<React.StrictMode> ... </React.StrictMode>``` in your app. Still looking into this.

[2020-12-05 23:56] aeagle commented on #77
So digging into this deeper it appears the ```<React.StrictMode />``` wrapper had an incompatibility with the method used to give each space an auto generated id and keep track of each spaces dimensions in the internal state wrapper.

Because strict mode fires renders twice on components in a dev environment (https://reactjs.org/docs/strict-mode.html), each space was getting a different id during

[2020-12-06 00:05] aeagle commented on #75
Hi @fdelbos,

I've tried to recreate this but do not have the same issue. Here is the sandbox I setup using the same version of React and of React Spaces - https://codesandbox.io/s/zealous-clarke-k89cu?file=/src/App.js

The console is clear for me.

Could you send a sandbox reproducing the issue?

[2020-12-06 00:12] aeagle commented on #64
Hey all. Could you try version ```v0.2.0-beta.3``` to see if this removes the warning for you?

[2020-12-06 00:18] aeagle commented on #52
The revised internals in the 0.2.0 beta should now deal with switching of different types of space properly as described in the initial issue. Latest beta version is ```v0.2.0-beta.3```. The recommendation is still to use ```<Space.Custom />``` in this circumstance to avoid the reparenting of child components within the space.

I'll close this issue in regards to the latest released version with t

[2020-12-06 00:18] #52 closed

[2020-12-06 00:30] aeagle commented on #79
Hi @Slapbox

This has been fixed in #80 and released in ```v0.1.27```

[2020-12-10 20:45] aeagle commented on #71
Added and ready for 0.2.0 release

[2020-12-10 20:45] #71 closed

[2020-12-10 20:46] aeagle commented on #69
Added and ready for 0.2.0 release. Latest prerelease Implementation in `v0.2.0-beta.5`

[2020-12-10 20:46] #69 closed

[2020-12-10 20:49] aeagle commented on #75
Feel free to reopen if you can provide a repro with React `v16.13.1` and version `v0.2.0-beta.5`

[2020-12-10 20:49] #75 closed

[2020-12-10 20:49] aeagle commented on #77
Feel free to reopen if you are still having issues with `v0.2.0-beta.5`

[2020-12-10 20:49] #77 closed

[2020-12-10 20:52] aeagle commented on #79
Hi @Slapbox. Feel free to reopen if you are still getting this issue in the latest release version `v0.1.29`

[2020-12-10 20:52] #79 closed

[2020-12-10 22:30] Slapbox commented on #79
Hey @aeagle thanks for the update, I just got a chance to test it and it looks good! Thanks again for sharing this beautiful library!

[2020-12-14 00:34] aeagle commented on #64
I've released `v0.2.0` now which should resolve this issue. Feel free to reopen this issue if you are still having problems.

[2020-12-14 00:34] #64 closed

[2020-12-14 19:34] aeagle commented on #69
Version `v0.2.0` released now

[2021-01-05 14:24] karl-run opened #85 "SSR on 0.2.0: ReferenceError: document is not defined"
**Describe the bug**

react-spaces tries to access the `document` global on the server side execution. Stack trace:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use react-spaces in a server environment, e.g. nextjs

**Expected behavior**
Should render as normal

**Package versions (please complete the following information):**
 - React version: 17.0.1
 - React spaces version: ^0.2

[2021-01-08 18:18] aeagle commented on #85
Hi @karl-run Thanks for reporting. If you could setup a repro repo that would be great!

[2021-01-09 13:28] karl-run commented on #85
Sure thing!

https://github.com/karl-run/react-spaces-repro

[2021-04-05 20:02] Slapbox commented on #78
I think this is probably outdated with the release of `0.2.0`.

[2021-04-05 20:02] #78 closed

[2021-05-10 04:55] verbold opened #86 "`onResizeEnd` doesn't respect `maximumSize` if `size` === `maximumSize`"
**Describe the bug**
If a resizable element's `size` equals its `maximumSize`, a user can resize the element beyond the `maximumSize`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://codesandbox.io/s/naughty-hertz-kuis1?file=/src/index.js](https://codesandbox.io/s/naughty-hertz-kuis1?file=/src/index.js)
2. Resize the sidebar to its maximum size (`150`) then resize it again to

[2021-05-12 20:18] cktang88 commented on #85
@karl-run I ran into this too, I think it's a problem w/ Next.js's SSR, the fix [here](https://github.com/vercel/next.js/discussions/14071 )worked for me.

[2021-05-13 09:11] karl-run commented on #85
@cktang88 It's correct that you can "fix" this issue by limiting the execution of react-spaces to the client. But a library such as react-spaces in typically something that you would want to execute on the server side because it's part of the layout.

The earlier you "exit" the rendering on your server, the more of the initial rendering has to be done on the client. In my app react-spaces was pret

[2021-05-14 02:03] pmlakner opened #87 "Is it possible to have a minimum size fill"
Looking through the documentation I know its not available. I'm having trouble pulling off the layout I need. I was hoping to make three columns, where the center fills the available space but cannot be smaller than a certain size, while still resizable on either side.

Sorry I am new to both React and CSS

[2021-05-14 12:30] aeagle commented on #87
Hi @pmlakner

The library doesn't currently support size limits on the fill space however it does seem like a potential feature for the future.

The functionality to achieve this might be similar to what's needed to fix https://github.com/aeagle/react-spaces/issues/72 where a spaces resize boundary needs to be aware of other anchored spaces on the same layer as well as any minimum/maximum limits s

[2021-05-14 12:38] aeagle commented on #85
Hi all. I've played around with the repro and whilst it's easy to stop the reference to document server side, because currently the library relies quite heavily on the first render to create the correct layout between spaces the result is not good once the styling/initial mark-up actually hits the client.

I'm looking into a solution to ensure the correct info makes it's way from server-side -> cl

[2021-05-25 20:33] Slapbox commented on #57
@aeagle React-Spaces continues to work great for us. Thank you so much for your continued work developing this library!

I was just wondering if there are plans to update the changelog for versions `0.2.0` and above?

[2021-05-26 08:22] aeagle commented on #57
Hiya @Slapbox. I'm starting to use the GitHub releases now to keep the change history - https://github.com/aeagle/react-spaces/releases

I will get round to pointing various bits to that.

[2021-06-21 10:09] gorkamolero opened #89 "Allow 'as' property to be Polymorphic (to play with libraries like Framer Motion)"
**Is your feature request related to a problem? Please describe.**
I have a problem where layout needs to be animated. CSS transitions won't cut it.

**Describe the solution you'd like**
If it's possible to allow the AS prop to be polymorphic, and allow for element binding, it could work (for an example, react-styled-flex)

[2021-06-22 15:13] lcaouen opened #90 "Update peer dependencies for react to include v17"
react-spaces is not compatible with react 17, it needs react 16
we have to use npm i --legacy-peer-deps to be able to use it

do you think an upgrade could be done to make it compatible ?

 - React version: 17.0.1
 - React spaces version: 0.2.1
 - Node : 14

best regards

[2021-06-25 14:10] aeagle commented on #90
@lcaouen A code sandbox with the versions you mentioned appears fine - https://codesandbox.io/s/sad-brahmagupta-d5idb?file=/package.json

Could you provide more details as to what in particular is not working? An idea of the peer dependency causing you problems would be useful.

[2021-07-02 09:36] lcaouen commented on #90
@aeagle the problem is when you do npm i and when you have react 17 in your package.json
Here is the errror message :
![image](https://user-images.githubusercontent.com/3267663/124253928-d09c2180-db28-11eb-8fc5-b345bdd15622.png)
We have to do npm i --legacy-peer-deps to make npm work
My npm version : 7.14.0
Using React 17 would probably correct some vunerabilities by the way

I don't think you can

[2021-07-02 10:58] aeagle commented on #90
@lcaouen Thanks for the information. I've released a fix in `v0.2.2 which should resolve your issue (solved with #91). Let me know if you are still having problems.

[2021-07-02 19:09] #90 closed

[2021-07-06 19:46] aeagle commented on #86
Hi @verbold - your suggested fix has been applied in `v0.2.5` as seen in https://codesandbox.io/s/ecstatic-snowflake-vw5k8?file=/src/index.js

[2021-07-06 19:46] #86 closed

[2021-07-11 13:49] aeagle opened #96 "Allow grid/snap points to be specified on a resizable space to constrain resizes"
Given an optional grid size or perhaps a collection of custom snap points constrain the resize on a space to these points.

[2021-07-23 12:46] lcaouen commented on #90
Thanks for the fix. It works.

[2021-08-17 13:37] Gibbo3771 opened #97 "Customize Handles"
**Is your feature request related to a problem? Please describe.**
Handles can't be customized

**Describe the solution you'd like**
I want to customised the handles so that a custom component is rendered

**Describe alternatives you've considered**
I can't see anything except forking and changing it under the hood

Is there something I am missing here? I am currently exploring library options for

[2021-08-19 09:57] Gibbo3771 commented on #89
@gorkamolero This sounds pretty good, how do you imagine this would look?

[code]

Or would it be so `ref` could be given?

[2021-08-19 10:03] gorkamolero commented on #89
Exactly like that!

El jue., 19 ago. 2021 11:57, Stephen Gibson ***@***.***>
escribió:

[2021-08-19 11:57] Gibbo3771 commented on #89
In it's simplest form this is a typing issue. However, if you're looking to pass a component like so:

[code]
Then this would need quite a bit more work as this would to be handled as a special case, and cloning would have to occur.

I've opened a PR for this.

[2021-08-19 12:30] gorkamolero commented on #89
I think the first version is more than enough for the purpose.
React-styled-flex also accepts HTML5 tags, that's very useful too
(as={header}).

El jue, 19 ago 2021 a las 13:57, Stephen Gibson ***@***.***>)
escribió:

--
Gorka Molero
_____________
👾gorka.space
🐉qtzl.space
***@***.*** <https://twitter.com/gorkamolero>

[2021-08-20 17:30] aeagle commented on #97
Hi @Gibbo3771. There is a similar request on #54. Out of interest, would you say the custom component you want to use for a resize handle has any element other than CSS styling? Potentially would you be able to set the resize handle size (with the `handleSize` prop) and then style the .spaces-resize-handle element on the page?

[2021-08-20 17:49] Gibbo3771 commented on #97
I actually made a PR with what I had in mind #98.

The change would give user complete control over how the handle is rendered, including it's props. The prop would take a function that is called for every handle on the space. This function will have access to the props for that particular handle.

[code]

The above example would be the same as if you never used the `handleRender` prop, but you ca

[2021-08-20 17:58] aeagle commented on #97
@Gibbo3771 That's useful and I will definitely consider it, but just so I consider all alternatives is it because you want to provide your own styled handle or is there something else you would be doing there "with full access" to the resize API?

[2021-08-20 18:26] Gibbo3771 commented on #97
This mostly came from me searching for a framework for a re-write of a large commercial app, we have specific styling and dragging anchor points on our current implementation, that we want to keep. Yes I could override the CSS, but I felt exposing the API in a controlled manner would be more appropriate.

Everyone has different needs, and I guess it comes down to _does this fit with your vision_.

[2021-08-20 18:38] aeagle commented on #97
Yes absolutely. I just want to check that I am not boxing myself in with
stuff I have in progress at the moment. I've got a lots of work on a
resize-handles branch for positional spaces which are not anchored (think
resizable windows kind of thing). Let me check compatibility with what's
there.

On Fri, 20 Aug 2021, 19:26 Stephen Gibson, ***@***.***> wrote:

[2021-08-20 21:16] Gibbo3771 commented on #61
I think this would be very useful. I know the issue is quite stale but I already have a use case for this.

Do you envision only X axis breakpoints or also Y? I assume X as that's what media queries use for the most part. I've already had a fair play with this and managed to get a provider and hook playing nicely using the `domRect` reference in the space.

[2021-09-02 14:26] Gibbo3771 opened #100 "Dynamic minimum and maximum size when resizing does not work"
**Describe the bug**
I am trying to use a dynamic resize on a left and right resizable that have a fill wedged in the middle. The issue is that when the space is resizing, the maximun and minimum sizes is captured on resize start. Right now, I have to stop resizing, once I can see it should stop, then drag and it will snap to it's maximum.

**To Reproduce**
This is quite difficult to reproduce, as

[2021-11-03 11:23] aeagle commented on #89
Including changes from #99 in upcoming release

[2021-11-05 11:49] aeagle commented on #100
Hi @Gibbo3771. I'm going to try to get my resize logic refactor over the line in the next release (to support positional spaces) and then will start to focus on overrall minimum/maximum resizing functionality. There seem to be a lot of related requests regarding this (i.e. ensuring spaces on opposite sides are taken into account when restricting resizes). Hopefully we will be able to reach a conse

[2021-11-08 13:27] Gibbo3771 commented on #100
@aeagle Sounds good. Is there a WIP branch for the next release? I would be interested in tracking the progress :).

[2021-11-17 14:39] aeagle commented on #97
Prepping function in #103

[2021-11-17 14:39] aeagle commented on #89
Prepping function in #103

[2021-11-17 14:39] aeagle commented on #60
Prepping function in #103

[2021-11-17 15:44] aeagle commented on #97
Functionality has now been released in `v0.3.0`

[2021-11-17 15:44] #97 closed

[2021-11-17 15:44] aeagle commented on #89
Functionality has now been released in `v0.3.0`

[2021-11-17 15:44] #89 closed

[2021-11-17 15:44] aeagle commented on #60
Functionality has now been released in `v0.3.0`

[2021-11-17 15:44] #60 closed

[2021-11-18 10:37] gorkamolero commented on #89
Fantastic!

El mié, 17 nov 2021 a las 16:44, Allan Eagle ***@***.***>)
escribió:

--
Gorka Molero
_____________
🐉 qtzl.space
🦉 @gorka <https://twitter.com/gorka>
📷   @gorkolas <https://instagram.com/gorkolas>

[2021-11-23 20:55] Slapbox opened #107 "<Fill/> width can exceed <ViewPort/> width"
**Describe the bug**
In versions `0.2.6` and `0.3.2`, using `react-spaces` as a controlled component, we're seeing an issue where resizing an anchored space on the left side of the screen to a smaller size can result in a situation like this:

**window.innerWidth:** 940px
**Viewport width:** 940px
**Left Anchored width:** 96px - although React state shows `anchorSize: 34`
**Fill space width:** 103

[2022-02-25 06:07] Chasen-Zhang opened #110 "dynamic calc miscalculation"
**Describe the bug**

This happens when you drag up and down
![image](https://user-images.githubusercontent.com/15354455/155663388-9a4872d5-7793-4951-b894-1605a1009e8c.png)

BottomResizable it is hidden !

Out of visual range

![image](https://user-images.githubusercontent.com/15354455/155664138-7f2ccdeb-297a-4757-b22e-6fd8e9669407.png)
It turned out to be a negative number

[2022-03-09 12:39] aeagle commented on #110
Hi @Chasen-Zhang

Could you provide a Code Sandbox reproducing the issue? I've tried reproducing in the same issue in the latest version Chrome but don't see the same behaviour.

It would also be helpful to know:

- The version of react spaces you are using
- The browser that exhibits this behaviour

[2022-03-24 06:33] hkl921010 commented on #110
me too

[2022-04-27 18:11] awb99 opened #111 "add sourcecode to lorem-ipsum demo"
On the homepage https://www.allaneagle.com/projects/react-spaces you show a complex example
(a table with lorem-ipsum. Could you add the sourcecode to this demo somewhere? Thanks!!

[2022-05-20 07:48] prvnbist opened #112 "Trying to resize panel throws `getBoundingClientRect` error"
**Describe the bug**
The error is consistent with any type of resize panel i.e `LeftResizable`, `RightResizable` etc. Clicking on the resize handle itself throws this error. A demo can be checkout out on [codesandbox](https://codesandbox.io/s/quirky-wing-qbs7h1?file=/src/App.js).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [codesandbox](https://codesandbox.io/s/quirky-wing-

[2022-05-26 18:54] maerten commented on #112
Also noticed this issue with React 18

It seems like a partial fix could be adding the necessary dependencies to this hook: https://github.com/aeagle/react-spaces/blob/master/src/components/Space.tsx#L64

`[elementRef.current]`

This fixes the error in our app, but there were still some visible glitches

[2022-05-27 11:55] maerten commented on #112
I've added a pull request: https://github.com/aeagle/react-spaces/pull/113
@prvnbist could you please try it out in your React18 project?

`package.json`
[code]

[2022-05-29 18:31] aeagle commented on #111
@awb99 Here's a sandbox with the code - https://codesandbox.io/s/fancy-mountain-rpgkwu?file=/src/App.tsx. I am going to add a link to this by the demo on the site too.

[2022-05-29 19:04] aeagle commented on #112
I've released version `0.3.3` which includes @maerten's fix.

[2022-06-01 06:22] prvnbist commented on #112
Tested w/ react 18 and resizing a panel is working as expected

[2022-06-01 07:31] #111 closed

[2022-06-13 07:43] Chasen-Zhang opened #122 "bug: resizeType always is "resize-right""
**Describe the bug**
A clear and concise description of what the bug is.

resize to the left is "resize-right"

resize to the right still  is "resize-right"
![image](https://user-images.githubusercontent.com/15354455/173304465-6297b724-da0b-417a-a768-5c3edef8d2f1.png)

[2022-06-13 08:12] Chasen-Zhang opened #123 "bug: how to judge "LeftResizable" drag's direction?"
**Describe the bug**
A clear and concise description of what the bug is.

resize to left  => dir = -1
resize to right => dir = 1

[2022-06-13 08:35] Chasen-Zhang commented on #110
![image](https://user-images.githubusercontent.com/15354455/173313331-be2a12a4-278f-45b5-aea0-
LeftResizable components also have problems

 "react-spaces": "^0.3.4",

[2022-06-13 08:36] Chasen-Zhang commented on #110
It's not going to happen. I can't give it to demo

[2022-06-13 11:49] Chasen-Zhang commented on #110
This can happen if you drag fastly

[2022-06-13 12:54] Chasen-Zhang commented on #110
![image](https://user-images.githubusercontent.com/15354455/173358252-0097f456-dfe6-40f0-b2e5-0d1b276047ef.png)

[2022-06-13 12:57] Chasen-Zhang commented on #110
You might not know the boundary conditions

[2022-06-13 12:59] Chasen-Zhang commented on #110
![image](https://user-images.githubusercontent.com/15354455/173359215-76c3f9ee-4ef9-44e7-a25a-e910140fe90c.png)
I guess this code have bugs

[2022-06-14 02:01] Chasen-Zhang commented on #110
mac chrome latest

[2022-08-01 18:31] aeagle commented on #122
@Chasen-Zhang This is by design. The `resizeType` refers to the resizable edge of the space and not the direction of resize being changed by mouse/touch. You could calculate this in your code by keeping track of the initial size and comparing it with the final size.

[2022-08-01 18:32] #122 closed

[2022-08-01 18:33] aeagle commented on #123
@Chasen-Zhang this looks related to the issue you raised on #122. Please refer to my comment on there.

[2022-09-06 14:57] aeagle commented on #19
Hi @Slapbox

Thanks for the suggestion. I'll sort out a redirect shortly for the old demos to the storybook versions.

In terms of your other requests it would be good to setup an feature request for each of the following:

- Optional corner resize handles - something I thought about adding myself already
- Positioned space combined left/right or top/bottom resizing - it would be interesting to kn

[2022-09-12 21:10] Slapbox opened #127 "Corner resize handles"
**Is your feature request related to a problem? Please describe.**
Alternative of resizing one edge and then the other is tedious

**Describe the solution you'd like**
It would be great to be able to resize from the corners instead

[2022-09-12 21:23] Slapbox opened #128 "Opposite edge resizing (left/right or top/bottom)"
**Is your feature request related to a problem? Please describe.**
The problem this would solve is related to resizing a positioned space that's always centered. In that case, resizing only one edge would leave the space looking lopsided.

**Describe the solution you'd like**
It would be great if dragging the left side to increase the width could increase the right side an equal amount so that the